/*custom*/
.container-main {
    height: 100vh;
    text-align: -webkit-center;
    /*background: #f4f4f6;*/
}
.course-name {
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    font-size: 16px;
    color: #888888;
    border-color: #eaeaea;
}

.blue-text {
    color: #7ea4f3;
}
.m-text {
    color: #ff008d;
}
.object-fit {
    object-fit: cover;
}
.spinner {
    position: absolute;
    top: 300px;
    width: 80px;
    color: #7ea4f3;
    left: 47%;
    height: 80px;
}

/*Module box styles*/
.duration {
    font-size: 13px;
    display: inline-block;
    position: relative;
}
.duration-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    text-align: end;
}
.module-title {
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    align-self: center;
}
.module-container {
    height: 16%;
    cursor: pointer;
}
.module-main {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.module-main::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.module-main {
    -ms-overflow-style: none;
}
.video-container video {
    border-radius: 15px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    -webkit-box-shadow: 0px 0px 29px -4px rgba(26,26,26,1);
    -moz-box-shadow: 0px 0px 29px -4px rgba(26,26,26,1);
    box-shadow: 0px 0px 29px -4px rgba(26,26,26,1);
}

.underline {
    background:
            linear-gradient(#7ea4f3, #7ea4f3) bottom /70%   3px   no-repeat;
}


/*experts panel style*/
.image-container {
    border-radius: 15px;
    border-color: white;
    border-width: 0px;
    border-style: solid;
    -webkit-box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
}

.expert-container {
    display: inline-block;
}
.expert-name {
    font-size: 16px;
    font-weight: 500;
}
.expert-qul{
    font-size: 13px;
    font-weight: 400;
}

.social-container {
    right: 0;
}
.social svg {
    margin-left: 2px;
    margin-bottom: 4px;
}
.social {
    background: white;
    border-radius: 100px;
    cursor: pointer;
    padding: 7px;
    height: 35px;
    width: 35px;
    margin-left: 2px;
    margin-right: 10px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
}

/*Shadow effect*/
.card-5 {
    box-shadow: 0 10px 28px #dae4de, 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card-6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #F5F5F5;
}
.card-7 {
    -webkit-box-shadow: 1px 12px 15px #dae4de;
    -moz-box-shadow: 1px 12px 15px #dae4de;
    box-shadow: 1px 12px 15px #dae4de;
}
.card-8 {
    box-shadow: 10px 9px 15px #dae4de;
}

/*Modal*/
.title{
    font-size: 16px;
    font-weight: 500;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    color: #7ea4f3;
    border-color: #eaeaea;
    justify-content: center;
}
.title-icon{
    margin-bottom: 5px;
    margin-right: 10px;
}
.chapter-container {
    cursor: pointer;
}
.chapter-main {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.chapter-main::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.chapter-main {
    -ms-overflow-style: none;
}


@media (max-width: 409px) {
    .social {
        background: white;
        border-radius: 100px;
        cursor: pointer;
        padding: 5px;
        height: 30px;
        width: 30px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 0px;
        -webkit-box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
        box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
    }
}
@media (max-width: 341px) {
    .social {
        background: white;
        border-radius: 100px;
        cursor: pointer;
        padding: 5px;
        height: 25px;
        width: 25px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 0px;
        -webkit-box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
        box-shadow: 0px 0px 29px -10px rgba(0,0,0,1);
    }
}